@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #70c5ce; /* Background color for the game */
}

header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

h1 {
    background: url("https://i.ibb.co/Q9yv5Jk/flappy-bird-set.png") 0% 340px;
    padding: 1.2rem 0;
    margin: 0;
}

.score-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: #5EE270;
}

canvas {
    display: block;
}
